:root{
	--app-width: 600px;
	--app-default-height:600px;
	--app-height: 600px;
	--navbar-width: 600px;
	--page-background: linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);
	--transp-bgr: rgba(0, 0, 0, 0.3);
}

#root{
	position: relative;
	overflow: hidden;
	min-height: 100vh;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	line-height: 30px;
	text-align: center;
}
#app-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	position: fixed;
	z-index: -1;
	/*background: linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);

	-webkit-animation: AnimationName 1s ease infinite;
	-moz-animation: AnimationName 1s ease infinite;
	-o-animation: AnimationName 1s ease infinite;
	animation: AnimationName 1s ease infinite;*/
}
.svgtest{

}
@-webkit-keyframes AnimationName {
	0%{background-position:100% 0%}
	50%{background-position:0% 100%}
	100%{background-position:100% 0%}
}
@-moz-keyframes AnimationName {
	0%{background-position:100% 0%}
	50%{background-position:0% 100%}
	100%{background-position:100% 0%}
}
@-o-keyframes AnimationName {
	0%{background-position:100% 0%}
	50%{background-position:0% 100%}
	100%{background-position:100% 0%}
}
@keyframes AnimationName {
	0%{background-position:100% 0%}
	50%{background-position:0% 100%}
	100%{background-position:100% 0%}
}
	/*background: #ffc800;
	background: -moz-linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);
	background: -webkit-linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);
	background: linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);*/


.App {
	text-align: center;
	overflow: hidden;
	width:100%;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}
.GitLabLogo{
	height: 50px;
	opacity: 0.4;
	filter: grayscale(100%) invert(100%);
	-webkit-filter: grayscale(100%) invert(100%);
}

.App-header {
	height: 170px;
	padding:20px;
	color: white;
}

.App-intro {
	font-size: large;
}

.navigation {
	margin: 0 auto;
	width: 600px;
	width: var(--app-width);
}
.navbar{
	background: rgba(0, 0, 0, 0.3);
	background: var(--transp-bgr);
	border:none;
	border-radius: 0;
	box-shadow: none;
}
.navbar-default .navbar-toggle {
	float: none;
	border: none;
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: rgba(0, 0, 0, 0.3);
	background: var(--transp-bgr);
	border:none;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #fff;
}


.navbar-default .navbar-toggle .icon-bar{
	background-color: #fff;
}
.navbar-header{
	text-align:center;
}

.navbar-default .navbar-nav > li > a{
	color: #fff !important;
}

.active > a{
	background: rgba(0, 0, 0, 0.3);
	background: var(--transp-bgr) !important;
	color: #fff !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
.nav-pills > li > a{
	border-radius: 0;
	outline: 0;
}
.nav .disabled{
	cursor: not-allowed;
}

.tParent{
	perspective: 1200px;
	position: relative;
	overflow: hidden;
	height: 600px;
	width: 600px;
	width: var(--app-width);
	margin: 0 auto;
	left:0;
	top: 0;
	right: 0;
}
.tChild{
	position: absolute;
	display: inline-block;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	transformStyle: preserve-3d;
	backfaceVisibility: hidden;
	/*height: var(--app-height);*/
	left:0;
	top: 0;
	right:0;
}

.busybee .tooltip-inner{
	max-width: 605px !important;
}

.mainBody{
	margin: 0 auto;
	width:800px;
}

.genBtn {
	max-width: 400px;
	margin: 50px auto 10px;
}

.Page{
	width:600px;
	width:var(--app-width);
	/*height: var(--app-height);*/
	padding: 0px;
}

.rjsf, .form{
	background: #444;
	background: rgba(0, 0, 0, 0.3);
	color: #ffffff;
}
legend{
	color: #ffffff;
	border: none;
	margin-bottom: 40px;
}
.rjsf input:focus, .form input:focus, .form select:focus{
	outline: 0;
	background: #fff;
	border: 3px solid #ff1beb;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.rjsf input, .form input, .form select{
	height: 50px;
	margin: 0;
	padding: 0 20px;
	vertical-align: middle;
	background: #fff;
	border: 3px solid #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	line-height: 50px;
	color: #888;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}
.rjsf:first-child, .form:first-child{
	padding: 25px 25px 30px 25px;
}
.footer{
	margin: 0 auto 20px;
	width:600px;
	width:var(--app-width);
	height: 60px;
	background-color: rgba(0, 0, 0, 0.3);
	background-color: var(--transp-bgr);
	padding: 5px;
}
.nav .disabled{
	cursor:not-allowed;
}
@media screen and (max-width: 700px) {
	:root{
		--app-width: 400px;
		--navbar-width: 400px;
		--page-background: linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);
		--transp-bgr: rgba(0, 0, 0, 0.3);
	}
}

@media screen and (max-width: 450px) {
	:root{
		--app-width: 100%;
		--navbar-width: 100%;
		--page-background: linear-gradient(45deg,#ffc800 0,#c400bb 75%,#9423c9 100%);
		--transp-bgr: rgba(0, 0, 0, 0.3);
	}
	h2 {
		font-size: 6.0vw;
	}
    p{
	    font-size: 4vmin;
    }
    legend{
	    font-size: 6.0vw;
    }
    fieldset label {
	    font-size:5.0vw;
    }

}


@keyframes App-logo-spin {
	0%   {background-color:red; left:0px; top:0px;}
	25%  {background-color:yellow; left:200px; top:0px;}
	50%  {background-color:blue; left:200px; top:200px;}
	75%  {background-color:green; left:0px; top:200px;}
	100% {background-color:red; left:0px; top:0px;}
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

